# ignore assets folder
assets

# ignore Output
Output/

# ignore todo.txt
todo.txt

# ignore Planning folder
Planning

# ignore environment folder
env

# ignore handler folder 
handler

# ignore main.py
main.py
